
:root {
  --bg-color: #FAF8F1;
  --text-color: #2E2E2E;
  --accent-color: #002147;
  --secondary-text: #6E6E6E;
  --button-color: #800020;
  --folder-color: rgba(4, 95, 175, 0.364);
  --folder-hover-color: rgb(203, 203, 203);
}
