.form{
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
}

.form-container input
{
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin: 10px;
    outline: none;
}
.form-container button
{
    height: 40px;
    width: 100%;
    border-radius: 10px;
    border: none;
    color: white;
    background: teal;
    transition: 0.2s ease-in;
}

.form-container button:hover
{
    background: rgb(3, 210, 210);
}