.ticket-section
{
    color: white;
    background: #2C2C2C;
}

.ticket-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.ticket-card
{
    height: 200px;
    width: 50%;
    background: linear-gradient(to left, grey 0%, #2C2C2C 50%, black 100%);
    border-radius: 20px;
    border: none;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.ticket-head-msg
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}