# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Editor & OS metadata
*.swp
*~
*.bak
.DS_Store
Thumbs.db

# Python cache and logs
*.log
*.pot
*.pyc
*.pyo

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Pytest cache
.pytest_cache/

# MyPy type checker
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# PyCharm IDE
.idea/

# VS Code settings
.vscode/

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Build artifacts
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PEP 582; used by some tooling like pdm
__pypackages__/
