@import '@css/css-variables/variable.css';

.contribute
{
    background: var(--accent-color);
    color: var(--bg-color);
    padding: 30px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contribute-header h2
{
    padding-bottom: 20px;
}

.brief-message
{
    padding-bottom: 30px;
}