@import "@css/css-variables/variable.css";

.dashboard-container
{
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    color: var(--text-color);
}

.dashboard-sub-container{
    margin-top: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;

}

/* intro and greetings */

.welcome-img-greet
{
    border-radius: 50%;
    margin-right: 20px;
}

/* groups section */

.groups
{
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    margin-right: 50px;
    margin-bottom: 30px;

}

.group-header-and-description
{
    padding: 30px;
}

.groups-tile
{
    padding: 30px;
}

.group-pill
{
    display: flex;
    align-items: center;
    padding: 10px;
    
    margin-bottom: 20px;
    border: 2px solid grey;
    border-radius: 10px;
    justify-content: space-evenly;
    
}


.group-icon img
{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid grey;
    margin-right: 10px;
}

.notification-count-div
{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: teal;
    color: white;
    font-size: 12px;
}

.groups-and-group-chat
{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}



.spacing
{
    padding: 30px;
}
/* quote section and sumary stats */

.quote-and-stats
{
    display: flex;
    justify-content: space-evenly;
    animation: quoteAndStatsAnimation ease-in 1s;
}

.study-quote
{
    border:  2px solid black;
    border-radius: 5px;
    padding: 30px;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    margin-right: 50px;
    margin-bottom: 30px;
    
}

.pending-tasks
{
    border: 2px solid black;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.streaks
{
    border: 2px solid black;
    width: 150px;
    height: 150px;
}

.other-tile
{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    padding: 30px;
    margin-bottom: 40px;
    margin-right: 40px;
}

.other-tile h3
{
    margin: 5px;
}

.calendar button
{
    padding: 5px;
    margin: 2px;
}

/* animations */
@keyframes quoteAndStatsAnimation
{
    0%
    {
        opacity: 10%;
    }
    20%
    {
        opacity: 20%;
    }
    40%
    {
        opacity: 40%;
    }
    60%
    {
        opacity: 60%;
    }
    80%
    {
        opacity: 80%;
    }
    100%
    {
        opacity: 100%;
    }
}

/* responsiveness */
@media (max-width: 1125px)
{
    .other-tile
    {
        margin-right: 40px;
    }

}


@media (max-width: 768px)
{
    .dashboard-container
    {
        margin-left: 0;
        padding: 30px;
        font-size: 12px;
        padding-top: 90px;
    }

    .quote-and-stats
    {
        display: flex;
        flex-direction: column;
    }

    .other-tile
    {
        display: none;
    }

    .groups
    {
        width: 100%;
        padding: 0;
        margin-top: 20px;
    }
    .groups-and-group-chat
    {
        padding: 10px;
    }

}