

.profile-dashboard {
  display: flex;
  justify-content: center;
  
  flex-direction: column;
}

/* cover imag */

.cover-image
{
  width: 100%;
  height: 300px;
  object-fit: cover;
  position: relative;
}

.sub-container
{
    height: 30px;
    background: grey;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    border-radius: 50%;
}

.camera-icon-container
{
    position: absolute;
    right: 0;
    padding: 30px;
}

.camera-icon
{
  fill: white;
}


/* profile section */

.profile-image-container
{
  margin-left: 13rem;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.profile-image
{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-right: 50px;
}

.other-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 250px;
  margin-top: 50px;
  margin-right: 70px;
}

/* profile and bio section */

.bio-section
{
  display: flex;
  flex-direction: column;
  font-size: 12px;
  margin-top: 10px;
}

/* skills section */

.skills-and-other-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
  padding: 30px;
}

.card-slips-tab-stuff {
  width: 300px;
  height: 300px;
  border: 3px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.card-slips-tab-stuff h2 {
  margin-bottom: 30px;
}


@media (max-width: 1050px) {
  .edit-button-cover {
    margin-left: 45%;
  }
}

@media (max-width: 927px)
{
  .other-section
  {
    margin-left: 150px;
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .profile-dashboard
  {
    padding-left: 0;

  }
  .other-section
  {
    margin-left: 0;
    margin-right: 5px;
  }
  .profile-image-container
  {
    margin-left: 0;
    padding: 30px;
  }
  .cover-image
  {
    margin-top: 89px;
    position: unset;
  }
  .camera-icon-container
  {
    position: unset;
    display: flex;
    justify-content: right;
    padding: 0;
  }
  .skills-and-other-info
  {
    gap: 2rem;
    margin-left: 20px;
  }
}



@media (orientation: landscape) and (max-height: 900px) {
  .profile-image-container
  {
    margin-left: 0;
    padding: 40px;
  }
  .other-section
  {
    margin-left: 0px;
    margin-right: 0px;
  }
  .cover-image
  {
    margin-top: 89px;
    position: unset;
  }
  .camera-icon-container
  {
    position: inherit;
    display: flex;
    justify-content: right;
    padding: 0;
  }
  .profile-container
  {
    display: flex;
    flex-direction: column;
  }
}


@media (orientation: landscape) and (max-height: 375px)
{
  .other-section
  {
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media (orientation: landscape) and (max-width: 720px)
{
  .other-section
  {
    margin-left: 0px;
    margin-right: 0px;
  }
}

/* @media (orientation: landscape) and (max-width: 768px) 
{
  .other-section
  {
    margin-left: 0px;
  }
} */