.profile-dashboard
{
    width: 94%;
    margin-left: 5rem;
    padding-top: 50px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-container
 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 20;
    width: 80%;
    
  }
  
  .profile-cover-img
   {
    height: 400px;
    width: 90%;
    background: url('https://placehold.co/900x400');
    z-index: 0;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: left;
    border-end-start-radius: 100px;
    
  }
  
  .profile-img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 20;
    background: url('/profileimg.jpg') center center / cover no-repeat;
    margin-top: 150px;
    left: 0;
    border: 4px solid white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  

  .other-section
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5rem;
    margin-left: 14rem;
    width: 80%;
  }
  

/* skills section */

.skills-and-other-info
{
  display: flex;
  justify-content: space-evenly;
  margin-top: 70px;
  padding: 30px;
}

.card-slips-tab-stuff
{
  width: 300px;
  height: 300px;
  border: 3px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;

  align-items: center;
  padding: 10px;
}

.card-slips-tab-stuff h2
{
  margin-bottom: 30px;
}